<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script src="https://kit.fontawesome.com/7711c3f1fc.js" crossorigin="anonymous"></script>
  <title>Boolzapp</title>
  <!-- MOBILE FIRST -->
</head>

<body>
  <div id="app" class="container">
    <div class="side-bar">
      <header>
        <div class="col-card d-flex">
          <div class="card">
            <img src="./img/avatar_2.jpg" alt="png">
          </div>
          <div class="col-text">
            <div class="text-card">
              <p>Gaetano</p>
            </div>
          </div>
          <div class="fontawesome-header d-flex">
            <i class="fas fa-magnifying-glass"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-vertical"></i>
          </div>

        </div>

      </header>
      <div class="side-bar-content d-flex column">
        <div class="notifications-bar">
          <div class="bell-icon">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div class="bell-txt d-flex column">
            <h4>Ricevi notifiche di nuovi messaggi</h4>
            <p>Ativa notifiche dekstop</p>
          </div>

        </div>
        <div class="search-bar d-flex">
          <div class="mgnfy-glass">
            <i class="fas fa-magnifying-glass-dollar"></i>
          </div>
          <div class="input-search">
            <input class="search" type="search" name="cerca" id="search" placeholder="Search..">
          </div>
        </div>
      </div>
      <ul class="friend-list">
        <li v-for="(contact, index) in contacts" :key="index" @click="setContactActive(index)">
          <div class="friend-content d-flex">
            <div class="friend-img">
              <img :src="contact.avatar" :alt="contact.name">
            </div>
            <div class="friend-txt d-flex column">
              <div class="name">
                <h3>{{contact.name}}</h3>
              </div>
              <div class="stats">
                <p>Lorem ipsilum...</p>
              </div>
            </div>
            <div class="txt-time d-flex">
              <p> 15:12</p>
            </div>
          </div>
        </li>
      </ul>

    </div>

    <div class="content">
      <header>
        <div class="col-card">
          <div class="card">
            <img :src="getActiveContact().avatar" :alt="getActiveContact().name">
          </div>
        </div>
        <div class="col-text">
          <div class="text-card">
            <span>{{getActiveContact().name}}</span>
          </div>
          <div class="last-access">
            <span>{{getActiveContact().date}}</span>
          </div>
        </div>
        <div class="fontawesome-header">
          <i class="fas fa-magnifying-glass"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-vertical"></i>
        </div>
      </header>
      <div class="chat">
        <div v-for="(message,index) in getActiveContact().messages" :key="index" :class="getMessageClass(message)"
          class="d-flex">
          <p>{{message.message}}</p>
          <div class="show-more d-flex column">
            <i class="fas fa-angle-down"></i>
            <p>{{message.date}}</p>
          </div>
        </div>
      </div>
      <footer>
        <div class="fontawesome-footer">
          <div class="smile-font">
            <i class="fas fa-poo"></i>
          </div>
          <div class="message-bar">
            <input type="text" v-model="newMessage" @keyup.enter="addMessage" placeholder="Scrivi un messaggio">
          </div>
          <div class="mic-font">
            <i class="fas fa-microphone-lines"></i>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>